@use "../../global/variables.scss" as variables;

.container {
  display: flex;
  background-color: transparent;
  color: variables.$secondary-color;
  align-items: center;
  max-width: 30rem;
  min-height: 50px;
  border: 1px solid black;
  cursor: pointer;

  &:hover {
    background-color: variables.$secondary-color;
    border: 1px solid variables.$secondary-color;
    color: white;
    opacity: 1;
  }

  &__inverted {
    background-color: variables.$quaternary-color;
    color: white;
    border: 0;

    &:hover {
      background-color: variables.$tertiary-color;
      color: variables.$secondary-color;
      border: 0;
    }
  }

  &_scrollUp {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    // margin-bottom: calc(7vh - 0.7rem);
    margin-bottom: 1rem;
    margin-right: 1rem;
    min-height: 3rem;
    transition: all 0.3s ease 0s;
  }

  .body {
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;

    &_center {
      justify-content: center;
    }

    span {
      font-size: 1rem;
      font-family: "SuisseInt-Regular", sans-serif;
    }
  }
}
