.scroll-button {
  background-color: transparent;
  color: black;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  border: 2px solid black;

  &:hover {
    background-color: white;
    color: black;
  }

  &.inverted {
    background-color: black;
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
