.scroll-button {
  background-color: transparent;
  color: black;
  max-width: 30rem;
  min-height: 50px;
  //border-radius: 3px;
  border: 1px solid black;

  &:hover {
    background-color: black;
    color: white;
  }

  &.inverted {
    background-color: black;
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  .button-content{
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
  }
}