.button {
  display: flex;
  background-color: transparent;
  color: black;
  align-items: center;
  max-width: 30rem;
  min-height: 50px;
  //border-radius: 3px;
  border: 1px solid black;

  &:hover {
    background-color: black;
    color: white;
    opacity: 1;
  }

  &__inverted {
    background-color: black;
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  .button-content {
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
  }
}
