@import "../../../global/variables.scss";

.sidebar__container {
  padding: 2rem 1.5rem 0.5rem 1.5rem;
  background-color: $background-color;
  border-left: 1px solid $border-color;
  position: fixed;
  right: -100%;
  width: 50%;
  height: 100vh;
  transition: all 0.5s ease 0s;
  overflow-y: auto;
  z-index: 999;

  &--active {
    right: 0;
  }

  .sidebar__top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 5vh;
  }

  .sidebar__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;

    li {
      padding-top: 1rem;
      cursor: pointer;
      text-align: right;
      width: 80%;
      padding-bottom: 5px;
      border-bottom: 2px solid $border-color;
      transition: all 0.5s ease 0s;

      &:hover {
        transform: translateX(1rem);
      }

      a {
        font-size: 2rem;
        font-family: "SuisseInt-Regular";
        font-weight: 200;
        &:hover {
          text-decoration: unset;
        }
      }
    }
  }

  .sidebar__footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10%;
    height: 15vh;
  }
  @media only screen and (min-width: $max-width-tabletOrMobile) {
    right: -100%;
  }

  @media only screen and (max-width: $max-width-mobile) {
    width: 100%;
    border-left: unset;
  }
}
