@import "../../../global/variables.scss";

.sidebar {
  $self: &;
  position: fixed;
  background-color: $background-color;
  border-left: 1px solid $border-color;
  right: -100%;
  width: 50%;
  height: 100%;
  transition: all 0.5s ease 0s;
  overflow-y: auto;
  z-index: 999;
  top: 0;

  &--active {
    right: 0;
  }

  &__container {
    height: 90vh;
    margin: 4rem 2rem 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: $max-width-mobile) {
      margin: 2rem 2rem 0.5rem 1.5rem;
    }

    #{ $self }__top {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      height: 5vh;
    }

    #{ $self }__body {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      height: 50vh;

      li {
        padding-top: 1rem;
        cursor: pointer;
        text-align: right;
        width: 80%;
        padding-bottom: 5px;
        border-bottom: 2px solid $border-color;
        transition: all 0.5s ease 0s;

        &:hover {
          transform: translateX(1rem);
        }

        a {
          font-size: 2rem;
          font-family: "SuisseInt-Regular";
          font-weight: 200;

          &:hover {
            text-decoration: unset;
          }

          @media only screen and (min-width: $min-width-middleStart) and (max-width: $max-width-middleEnd) {
            font-size: 1.5rem;
          }
        }
      }
    }

    #{ $self }__footer {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 3rem;
      height: 35vh;
      padding-bottom: 2rem;

      @media only screen and (max-width: $max-width-tablet) {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
      }
    }
  }

  @media only screen and (min-width: $max-width-tabletOrMobile) {
    right: -100%;
  }

  @media only screen and (max-width: $max-width-mobile) {
    top: 2.4rem;
    width: 100%;
    border-left: unset;
  }
}
