@use "../public/assets/fonts/fonts.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #f1f5f1;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  height: 100%;

  .disableScroll {
    overflow: hidden;
  }
}
ul,
li,
button {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

// write a tag's attributes as a mixin
