$background-color: #f1f5f1;
$primary-font-color: #2c2e33;
$border-color: #495049;
$secondary-background-color: #2c2e33;

$primary-color: #f9f8f4;
$secondary-color: #2c2e33;
$tertiary-color: #b8a68e;
$quaternary-color: #2f1218;

$max-width-mobile: 475px;
$max-width-middle: 575px;
$max-width-tablet: 768px;
$max-width-tabletOrMobile: 1130px;
$min-width-widescreen: 1640px;

$min-width-middleStart: $max-width-mobile;
$max-width-middleEnd: 610px;
$max-width-footer: 890px;
$max-width-paragraph: 1410px;
