@use "../../global/variables.scss" as variables;

.item {
    border: 1px solid green;
    flex-basis: 40%;
    min-height: 50vh;
    display: flex;

    @media only screen and (max-width: variables.$max-width-tablet) {
        min-height: 40vh;
    }
}
