.container {
    position: absolute;
    background-color: grey;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}
