@import "../../../global/variables.scss";
@import "../../bar/bar.module.scss";

.footer_container {
  $self: &;

  @media only screen and (max-width: $max-width-footer) {
    .bar_container {
      justify-content: center;

      #{ $self }__copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #{ $self }__contact {
        display: none;
      }
      @media only screen and (max-width: $max-width-tablet) {
        min-height: 10vh;
      }
    }
  }
}
