@use "../../global/variables.scss" as variables;

.container {
  position: relative;
  flex-grow: 1;
  flex-basis: 50vw;

  &_hero {
    position: relative;
    flex-basis: 100vw;
    min-height: 70vh;
  }

  &__wider {
    flex-basis: 55vw;
  }

  @media only screen and (max-width: variables.$max-width-tablet) {
    flex-basis: 100vw;
    min-height: 70vh;
    order: 2;
  }
}

.hide {
  display: none
 }