@use "../../global/variables.scss" as variables;

.container {
  display: flex;
  flex-direction: column;
  // overflow: hidden;

  &__body {
    min-width: 100%;
    background-color: variables.$primary-color;
  }
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 200ms, opacity 200ms;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 200ms;
}
