@import "../../global/variables.scss";

.layout-container {
  &__sidebarOpen {
    @media only screen and (max-width: $max-width-tabletOrMobile) {
      overflow-y: hidden;
      height: 100vh;
    }

    @media only screen and (max-width: $max-width-mobile) {
      overflow-y: hidden;
      height: 100vh;
    }
  }
}
