@use "../../global/variables.scss" as variables;

.container {
    max-width: 45%;
    margin: 1.5rem 0;

    @media only screen and (max-width: variables.$max-width-paragraph) {
        margin: 0.5rem 0;
    }

    .p {
        color: variables.$secondary-color;
        text-align: justify;
        font-family: "SuisseInt-Regular", sans-serif;
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 2rem;

        @media only screen and (max-width: variables.$max-width-tabletOrMobile) {
            font-size: 1rem;
        }

        @media only screen and (max-width: variables.$max-width-paragraph) {
            min-width: 70vw;
        }

        @media only screen and (max-width: variables.$max-width-middle) {
            line-height: 1.5rem;
        }
    }
}
