@use "../../global/variables.scss" as variables;

.container {
    // max-height: 60%;
    max-width: 30rem;
    margin: 2rem 0;

    @media only screen and (max-width: variables.$max-width-mobile) {
        margin: 1rem 0;
    }

    p {
        color: variables.$secondary-color;
        text-align: justify;
        font-family: "SuisseInt-Regular", sans-serif;
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 2rem;
    }
}
