@import "../../global/variables.scss";
@import "~sass-burger/burger";

.menu-item {
  color: $primary-font-color;
  font-weight: 200;
  font-size: 0.9rem;
  font-family: "SuisseInt-Medium", sans-serif;

  &:hover {
    color: black;
    text-decoration: underline;
  }
}

.hamburger-button {
  .burger-icon {
    @include burger(25px, 3px, 5px, #444);
  }
  &.is-active {
    .burger-icon {
      @include burger-to-cross;
    }
  }
}
