@use "../../global/variables.scss" as variables;

.container {
  color: variables.$primary-font-color;
  font-weight: 200;
  font-size: 0.9rem;
  font-family: "SuisseInt-Medium", sans-serif;

  &:hover {
    color: black;
    text-decoration: underline;
  }
}
