@import "../../global/variables.scss";

.menu-item {
  color: $primary-color;
  font-weight: 600;
  font-size: 1rem;
  font-family: "SuisseBPInt'l";
  &:hover {
    color: black;
    text-decoration: underline;
  }
}
