html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }

a {
  background-color: transparent;
  color: black;
  text-decoration: none; }

a:hover {
  opacity: 0.7; }

* {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0; }


.divider-container {
  width: 100%;
  height: 15vh;
  background-color: #f1f5f1; }

.layout-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%; }

.announcement-container {
  background-color: #2c2e2f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem 0.4rem 1.5rem; }
  .announcement-container a {
    font-family: "SuisseInt-Regular", sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    line-height: 1.5rem; }


.footer-container {
  background-color: crimson;
  height: 20vh;
  width: 100%; }

.menu-container {
  display: flex; }
  .menu-container__left {
    flex-direction: row;
    max-width: 60%;
    justify-content: space-between; }
  .menu-container__right {
    flex-direction: row-reverse; }
    .menu-container__right .lang-container .seperator {
      color: #45464c;
      margin: 0 0.2rem; }

.logo:hover {
  opacity: 0.7; }

.menu-item {
  color: #45464c;
  font-weight: 200;
  font-size: 0.9rem;
  font-family: "SuisseInt-Medium", sans-serif; }
  .menu-item:hover {
    color: black;
    text-decoration: underline; }

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: 2.4rem;
  width: 100%;
  transition: all 0.1s ease-in; }
  .navbar-container.scrolled {
    background-color: #f1f5f1;
    border-bottom: 1px solid #495049;
    padding: 1.5rem;
    top: 0; }
    .navbar-container.scrolled a {
      color: #45464c; }
    .navbar-container.scrolled .seperator {
      color: #45464c; }
  .navbar-container:hover {
    background-color: #f1f5f1;
    border-bottom: 1px solid #495049; }
    .navbar-container:hover a {
      color: #45464c; }
    .navbar-container:hover .seperator {
      color: #45464c; }

.section-container {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 100%;
  background-color: #f0f9f0; }

.content-container {
  min-width: 50%;
  min-height: 100%;
  display: flex;
  align-items: center; }
  .content-container .content {
    margin: 68px 25px;
    display: flex;
    max-height: 50%; }
    .content-container .content__right {
      display: flex;
      flex-direction: column;
      margin-left: 2vw; }
      .content-container .content__right h1 {
        font-family: "Zaph Humanist", sans-serif;
        font-weight: 200;
        font-size: 2rem; }

.image-container {
  position: relative;
  width: 100%;
  height: 100%; }


.block-quote {
  max-height: 60%;
  max-width: 30rem;
  margin: 2rem 0; }
  .block-quote blockquote {
    font-family: "SuisseInt-Regular", sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.4rem; }

.scroll-button {
  background-color: transparent;
  color: black;
  max-width: 30rem;
  min-height: 50px;
  border: 1px solid black; }
  .scroll-button:hover {
    background-color: black;
    color: white; }
  .scroll-button.inverted {
    background-color: black;
    color: white; }
    .scroll-button.inverted:hover {
      background-color: white;
      color: black; }
  .scroll-button .button-content {
    padding: 0 25px;
    display: flex;
    justify-content: space-between; }

