.block-quote {
  font-family: "SuisseBPInt'l", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  height: 200px;
  text-align: center;
  background-color: white;
  max-width: 300px;
  border: 1px solid black;
}
