.block-quote {
  font-family: "SuisseBPInt'l";
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 30vh;
  text-align: center;
  background-color: white;
  width: 40rem;
  border: 1px solid black;
}
