@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  background-image: url(../../../assets/images/banner-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 34px);
  display: flex;
  flex-direction: column;

  .blockquote-container {
    @include flex;
  }
  .button-container {
    @include flex;
    margin-top: 1.5rem;
  }
}
