.announcement-container {
  background-color: #2c2e2f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem 0.4rem 1.5rem;

  a {
    font-family: "SuisseBPInt'l";
    color: white;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 1.5rem;
  }
}
