.h1 {
    font-family: "Zaph Humanist", sans-serif;
    margin-left: 1.5rem;
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-transform: uppercase;
    color: white;
}
// TODO: media query for mobile
