@use "../../global/variables.scss" as variables;

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100vw;
  background-color: variables.$primary-color;

  &.relative {
    position: relative;
  }

  &__banner {
    min-height: 70vh;

    &:first-child {
      max-height: 50%;
    }
  }
  @media only screen and (max-width: variables.$max-width-tablet) {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}
