@use "../../global/variables.scss" as variables;

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100vw;
  background-color: #f0f9f0;
  margin-bottom: 5vh;

  &.relative {
    position: relative;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__banner {
    min-height: 70vh;

    &:first-child {
      max-height: 50%;
    }
  }
  @media only screen and (max-width: variables.$max-width-tablet) {
    margin-bottom: 0;
  }
}
