@import "../../global/variables.scss";

.content-container {
  display: flex;
  align-items: center;
  flex-grow: 1;

  .content {
    margin: 68px 25px;
    // TODO: Convert px to rem
    display: flex;
    max-height: 50%;

    &__right {
      display: flex;
      flex-direction: column;
      margin-left: 2vw;

      h1 {
        font-family: "Zaph Humanist", sans-serif;
        font-weight: 200;
        font-size: 2rem;
      }
    }
    @media only screen and (max-width: $max-width-tabletOrMobile) {
      &__left {
        display: none;
      }
    }
  }

  &__narrower {
    min-width: 45%;
    align-items: start;

    .content {
      margin-top: 0;
    }
  }
}
