@use "../../global/variables.scss" as variables;

.content_container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 50vw;
  min-height: 80vh;

  @media only screen and (max-width: variables.$max-width-tablet) {
    min-height: 70vh;
    justify-content: center;
    flex-basis: unset;
  }

  .content {
    margin: 68px 25px;
    // TODO: Convert px to rem
    display: flex;

    &__right {
      display: flex;
      flex-direction: column;
      margin-left: 2vw;

      h1 {
        font-family: "Zaph Humanist", sans-serif;
        font-weight: 200;
        font-size: 2rem;
      }
      @media only screen and (max-width: variables.$max-width-tablet) {
        margin-left: 0;
      }
    }
    @media only screen and (max-width: variables.$max-width-tabletOrMobile) {
      &__left {
        display: none;
      }
    }

    @media only screen and (max-width: variables.$max-width-mobile) {
      margin: 90px 25px;
    }
  }

  &__narrower {
    flex-basis: 45vw;
    align-items: start;

    .content {
      margin-top: 90px;
    }

    @media only screen and (max-width: variables.$max-width-tablet) {
      flex-basis: 100vw;
      align-items: center;
      justify-content: center;
    }
  }
}
