@import "../../global/variables.scss";

.content-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 50vw;

  @media only screen and (max-width: $max-width-tablet) {
    min-height: 100vh;
    justify-content: center;
    flex-basis: unset;
  }

  .content {
    margin: 68px 25px;
    // TODO: Convert px to rem
    display: flex;
    // max-height: 50%;
    // min-height: 100%;
    &__right {
      display: flex;
      flex-direction: column;
      margin-left: 2vw;

      h1 {
        font-family: "Zaph Humanist", sans-serif;
        font-weight: 200;
        font-size: 2rem;
      }
    }
    @media only screen and (max-width: $max-width-tabletOrMobile) {
      &__left {
        display: none;
      }
    }
  }

  &__narrower {
    flex-basis: 45vw;
    align-items: start;

    .content {
      margin-top: 0;
    }

    @media only screen and (max-width: $max-width-tablet) {
      flex-basis: 100vw;
      align-items: center;
      justify-content: center;
    }
  }
}
