@import "../../../global/variables.scss";

.sidenavbar__container {
  background-color: $background-color;
  border-left: 1px solid $border-color;
  position: fixed;
  right: -100%;
  width: 50%;
  height: 100%;
  transition: all 0.5s ease 0s;
  z-index: 999;

  @media only screen and (max-width: $max-width-tabletOrMobile) {
    right: 0;
  }

  @media only screen and (max-width: $max-width-mobile) {
    width: 100%;
    border-left: unset;
  }
}
