
.navbar-container {
  display: grid;
  grid-template-columns: 2fr auto 2fr;
  background-color: #fffefe;
  border-bottom: solid 1px #efefee;
  -webkit-box-shadow: 0 4px 8px -8px black;
  -moz-box-shadow: 0 4px 8px -8px black;
  box-shadow: 0 4px 8px -8px black;
  column-gap: 2rem;
  padding: 5px 25px;
  align-items: center;

}