$margin-between-links: 1.7rem;

.menu-container {
  display: flex;

  &__left {
    flex-direction: row;

    :first-child {
      margin-right: $margin-between-links;
    }
  }

  &__right {
    flex-direction: row-reverse;

    :first-child {
      margin-left: $margin-between-links;
    }
  }
}
