@import "../../global/variables.scss";
$margin-between-links: 1.7rem;

.menu-container {
  display: flex;

  &__left {
    flex-direction: row;
    max-width: 60%;
    justify-content: space-between;
  }

  &__right {
    flex-direction: row-reverse;

    .lang-container {
      display: flex;
      .seperator {
        color: $primary-font-color;
        margin: 0 0.2rem;
      }
    }
  }
}
