$margin-between-links: 1.7rem;

.menu-container {
  display: flex;

  &__left {
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
  }

  &__right {
    flex-direction: row-reverse;

    .lang-container {
      .seperator {
        color: white;
        margin: 0 2px;
      }
    }
  }
}
