@import "../../global/variables.scss";
$margin-between-links: 1.7rem;

.menu_container {
  display: flex;
  &__left {
    flex-basis: 30%;
    flex-direction: row;
    justify-content: space-between;
  }

  &__right {
    flex-direction: row-reverse;
    flex-basis: 70%;
  }
}
