@import "../../../global/variables.scss";

@mixin green-bg {
<<<<<<< HEAD
  background-color: #f0f9f0;
=======
  background-color: $background-color;
>>>>>>> 8521c68c81d5cf4ff85bab7474935cf64724c4f4
  border-bottom: 1px solid #495049;
}

@mixin change-color {
  a {
    color: $primary-font-color;
  }
  .seperator {
    color: $primary-font-color;
  }
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: 2.4rem;
  width: 100%;
  transition: all 0.1s ease-in;

  &.scrolled {
    @include green-bg;
<<<<<<< HEAD
    padding: 25px;
=======
    padding: 1.5rem;
>>>>>>> 8521c68c81d5cf4ff85bab7474935cf64724c4f4
    top: 0;
    @include change-color;
  }

  &:hover {
    @include green-bg;
    @include change-color;
  }
}
