@mixin white-bg {
  background-color: white;
  -webkit-box-shadow: 0 4px 8px -8px black;
  -moz-box-shadow: 0 4px 8px -8px black;
  box-shadow: 0 4px 8px -8px black;
}

@import "../../../global/variables.scss";

.navbar-container {
  display: grid;
  grid-template-columns: 2fr auto 2fr;
  column-gap: 2rem;
  padding: 20px 25px 10px 25px;
  align-items: center;
  z-index: 9;
  position: fixed;
  top: calc(0.2rem + 30px);
  width: 100%;
  transition: all 0.1s ease-in;

  &.scrolled {
    @include white-bg;
    padding: 15px 25px 10px 25px;
    top: 0;
    a {
      color: $primary-color;
    }
  }

  &:hover {
    @include white-bg;

    a {
      color: $primary-color;
    }
  }
}
