@import "../../../global/variables.scss";

@mixin green-bg {
  background-color: $background-color;
  border-bottom: 1px solid #495049;
}

@mixin change-color {
  a,
  .seperator {
    color: $primary-font-color;
  }
}

.navbar-container {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: 2.4rem; // TODO: Burayi kontrol et!
  width: 100%;
  transition: all 0.1s ease-in;

  &.scrolled {
    @include green-bg;
    padding: 1.5rem;
    top: 0;
    @include change-color;
  }

  &:hover {
    @include green-bg;
    @include change-color;
  }

  @media only screen and (max-width: $max-width-mobile) {
    top: 3.3rem;
  }
}
